*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

/* header */
body{
    max-width: 1200px;
    min-width: 600px;
    width: 70%;
    margin: 0 auto;
}
.wrapped{
    background-color: white;
}

h1{
    background-color: white;
    font-size: 600;
    color:#E5316F;
    padding-top: 20px;
    padding-bottom: 40px;
}

header{
    text-align: center;
    margin-bottom: 10px;
}
.text a{
    color: #5BC0EE;
}
h3,p,a{
    padding-bottom: 4px;
    font-size: 500;
}

/* blocchi */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.box{
    width: auto;
    background-color: #100E17;
    color: white;
    display: flex;
    align-items: center;
    padding-right: 20px;
    justify-content: center;
    box-shadow: 10px 10px 8px #888888;
}
.float{
    float: left;
    width: calc((100%/3)-30px);
    margin: 10px;
}
img{
    width: 80px;
    height: auto;
}
.text{
    font-size: 12px;
    margin-left: 20px;
    padding-right: 20px;
}




