*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

/* header */
body{
    width: 80%;
    margin: 10px 10px auto;
    background-color: black;
}
.wrapped{
    background-color: white;
}
h1{
    background-color: white;
    font-size: 600;
    color:#E5316F;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

/* blocchi */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    background-color: white;
}
.box{
    background-color: black;
    margin: 30px;
    width: calc((100%/3)-90px);
    float:left;
    color: white;
}
img{
    width: calc(100%/3);
    float: left;
}